  h1 {
        color:darkblue;
background-color: yellow; 
        
    }
body {
background-image: url('download.jfif');
background-repeat: no-repeat;
background-size: cover;
}
nav a:hover{
color: red;
font-size:25px;
}
